#global{
	background-image:url(../img/outlife.png);
	background-position:center;
	background-repeat:no-repeat;
}
html,body{
	height:100%;
	width:100%;
}
h1,h2{
	color:blue;
	text-align:center;
}
h1{
	padding-top:200px;
}